.user {
    color: #1CDC9A;
}
.folder {
    color: #368AB6;
}
.caret {
    background-color: #FCFCFC;
    color: #232627;
}
.hidden {
    width: 0px;
    border: none;
    color: transparent;
    background-color: transparent;
}
.inline {
    display: inline-block;
}