.caret {
    background-color: #FCFCFC;
    color: #232627;
}
.hidden {
    width: 0px;
    border: none;
    color: transparent;
    background-color: transparent;
}
.inline {
    display: inline-block;
    white-space: nowrap;
}