/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Hack', monospace;
    background-color: #232627;
    color: #FCFCFC;
    font-size: 16px;
}
html, body { min-height: 100%; }
